@charset "utf-8";
/* CSS Document */
body{
	margin:0;
}


h1  {
	font-size: 42px;
	font-family: Arial;

}
caption {
	background-color: #18a964;
	background-size: 300px 100px;
	text-align:left;
	border-top-left-radius:6px;
	border-top-right-radius: 6px;
	-moz-border-top-left-radius:6px;
	-moz-border-top-right-radius:6px;
}
table {
	border: 3px solid #18a964;
	border-right-color: #18a964;
	border-right-width: 3px;
	border-left-color: #18a964;
	border-left-width: 3px;
	border-collapse: collapse;
	width: 90%;
	border-bottom-left-radius:6px;
	border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius:6px;
	-moz-border-bottom-right-radius:6px;
}

table.center {
	margin-left: auto; 
	margin-right: auto;
}
tr {
	border: 2px solid gray;
	width: 50%;
}


/* Add a black background color to the top navigation */
.topnav {
	display: flex;
	justify-content: space-between;
	background-image: linear-gradient(#18a964, rgb(192, 236, 200));
	overflow: hidden;
}

* {
	margin: 0;
  }
  
h1:hover {
	letter-spacing: 10px;
  }

h2 { 
	color: #4CAF50;
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 50px; font-weight: bold; 
	letter-spacing: -1px; line-height: 1; 
	text-align: center; 
	text-transform: uppercase;
	text-shadow: 1px 1px #18a964;
	
}

.middleSection {
	background-image: url("http://www.managedprintmarketing.com/lmi/mos/Commercial/gogreen/images/gogreen.jpg");
  	height: 500px; /* You must set a specified height */
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}

.prizeSection {
	display: inline-flex;
	justify-content: center;
	width: 100%;
	margin: 0 -10px;
}

* {
	box-sizing: border-box;
  }
  
body {
	font-family: Arial, Helvetica, sans-serif;
}
  
/* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
} 
  
  /* Clear floats after the columns */
.prizeSection:after {
	content: "";
	display: table;
	clear: both;
}
  
  /* Style the counter cards */
.prize {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
}
  
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
}
=======
/*Sectioning*/
.section {

	margin-top: 0;
  	margin-bottom: 0;
  	padding-top: 10px;
  	padding-bottom: 10px;
}

.navbar {
	background-color: #18a964;
	padding-left: 16px;
	color: white;
}

.prize {
	background-color: white;
	text-align: center;
}

.leaderboard {
	background-color: #18a964;
	padding-left: 16px;

}

.submission {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	background-color: #18a964;
	position: fixed;
	left: 0;
	bottom: 0;	
	width: 100%;
	color: white;
	text-align: right;
}



