@charset "utf-8";
/* CSS Document */

h1  {
	font-size: 42px;
	font-family: Arial;
}
.submission caption {
	background-color: #18a964;
	text-align:left;
	border-top-left-radius:6px;
	border-top-right-radius: 6px;
	-moz-border-top-left-radius:6px;
	-moz-border-top-right-radius:6px;
}
.submission table {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: 3px solid #18a964;
	border-right-color: #18a964;
	border-right-width: 5px;
	border-left-color: #18a964;
	border-left-width: 5px;
	border-bottom-color: #18a964;
	border-bottom-width: 5px;
	border-collapse: collapse;
	border-bottom-left-radius:6px;
	border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius:6px;
	-moz-border-bottom-right-radius:6px;
	margin: 60px;
}
 .subTable tr {
	border: 2px solid gray;
	width: 50%;	
}

.prizeSection {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}
