body {
    font-size: .875rem;
    background-color: rgb(217, 222, 224);
}

/* Sidebar */
.sidebar {
    padding: 48px 0 0; /* Height of navbar */

    background-color: #34525a;
}

.card {
    background-color: rgba(58, 90, 97, 0.2);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
}

/* Links in sidebar */
.sidebar .nav-link {
    font-weight: 700;
    color: #6d6d6d;
}

/* Active page colour */
.sidebar .nav-link.active {
    color: #e2bb51;
}

/* Main content */
main {
    padding-top: 48px;
}

/* navigation bar */
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #27454d;
    color: #f3cd50 !important;
}

.navbar {
    background-color: #34525a;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}


